[submodule "projects/autobookmarks"]
	path = projects/autobookmarks
	url =  git@github.com:Fuco1/autobookmarks.git
[submodule "projects/better-jump"]
	path = projects/better-jump
	url =  git@github.com:Fuco1/finna-be-octo-hipster.git
[submodule "projects/clippy.el"]
	path = projects/clippy.el
	url =  git@github.com:Fuco1/clippy.el.git
[submodule "projects/dired-hacks"]
	path = projects/dired-hacks
	url =  git@github.com:Fuco1/dired-hacks.git
[submodule "projects/elisp-docstring-mode"]
	path = projects/elisp-docstring-mode
	url = git@github.com:Fuco1/elisp-docstring-mode.git
[submodule "projects/elwm"]
	path = projects/elwm
	url =  git@github.com:Fuco1/elwm.git
[submodule "projects/emacs-nette-tester"]
	path = projects/emacs-nette-tester
	url = git@github.com:Fuco1/emacs-nette-tester.git
[submodule "projects/ETable"]
	path = projects/ETable
	url =  git@github.com:Fuco1/ETable.git
[submodule "projects/eshell-bookmark"]
	path = projects/eshell-bookmark
	url = git@github.com:Fuco1/eshell-bookmark.git
[submodule "projects/flash-region"]
	path = projects/flash-region
	url =  git@github.com:Fuco1/flash-region.git
[submodule "projects/find-test"]
	path = projects/find-test
	url = git@github.com:Fuco1/find-test.git
[submodule "projects/free-keys"]
	path = projects/free-keys
	url =  git@github.com:Fuco1/free-keys.git
[submodule "projects/indicators.el"]
	path = projects/indicators.el
	url =  git@github.com:Fuco1/indicators.el.git
[submodule "projects/keyadvice.el"]
	path = projects/keyadvice.el
	url =  git@github.com:Fuco1/keyadvice.el.git
[submodule "projects/letcheck"]
	path = projects/letcheck
	url =  git@github.com:Fuco1/letcheck.git
[submodule "projects/litable"]
	path = projects/litable
	url =  git@github.com:Fuco1/litable.git
[submodule "projects/neon-mode"]
	path = projects/neon-mode
	url = git@github.com:Fuco1/neon-mode.git
[submodule "projects/mql-mode"]
	path = projects/mql-mode
	url =  git@github.com:Fuco1/mql-mode.git
[submodule "projects/org-clock-budget"]
	path = projects/org-clock-budget
	url =  git@github.com:Fuco1/org-clock-budget.git
[submodule "projects/org-cookbook"]
	path = projects/org-cookbook
	url =  git@github.com:Fuco1/org-cookbook.git
[submodule "projects/org-inline-image"]
	path = projects/org-inline-image
	url =  git@github.com:Fuco1/org-inline-image.git
[submodule "projects/org-node-graph"]
	path = projects/org-node-graph
	url = git@github.com:Fuco1/org-node-graph.git
[submodule "projects/orgpath"]
	path = projects/orgpath
	url =  git@github.com:Fuco1/org-xpath.git
[submodule "projects/org-pretty-table"]
	path = projects/org-pretty-table
	url =  git@github.com:Fuco1/org-pretty-table.git
[submodule "projects/org-timeline"]
	path = projects/org-timeline
	url = git@github.com:Fuco1/org-timeline.git
[submodule "projects/php-refactor"]
	path = projects/php-refactor
	url =  git@github.com:Fuco1/php-refactor.git
[submodule "projects/sallet"]
	path = projects/sallet
	url =  git@github.com:Fuco1/sallet.git
[submodule "projects/slovak-holidays"]
	path = projects/slovak-holidays
	url =  git@github.com:Fuco1/slovak-holidays.git
[submodule "projects/smartparens"]
	path = projects/smartparens
	url =  git@github.com:Fuco1/smartparens.git
[submodule "projects/sphinx-mode"]
	path = projects/sphinx-mode
	url =  git@github.com:Fuco1/sphinx-mode.git
[submodule "projects/sql-workbench"]
	path = projects/sql-workbench
	url =  git@github.com:Fuco1/sql-workbench.git
[submodule "projects/stocklist"]
	path = projects/stocklist
	url =  git@github.com:Fuco1/stocklist.git
[submodule "projects/whitaker"]
	path = projects/whitaker
	url =  git@github.com:Fuco1/whitaker.git
[submodule "projects/wiktionary-translate"]
	path = projects/wiktionary-translate
	url =  git@github.com:Fuco1/wiktionary-translate.git
[submodule "projects/workman-layout"]
	path = projects/workman-layout
	url =  git@github.com:Fuco1/workman-layout.git
[submodule "vendor/company-eshell-autosuggest"]
	path = vendor/company-eshell-autosuggest
	url = https://github.com/dieggsy/company-eshell-autosuggest
[submodule "projects/flow-js2-mode"]
	path = projects/flow-js2-mode
	url = git@github.com:Fuco1/flow-js2-mode.git
[submodule "dev/dash.el"]
	path = dev/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "projects/compile-eslint"]
	path = projects/compile-eslint
	url = git@github.com:Fuco1/compile-eslint.git
[submodule "vendor/lsp-php"]
	path = vendor/lsp-php
	url = git@github.com:emacs-lsp/lsp-php.git
[submodule "projects/org-radiobutton"]
	path = projects/org-radiobutton
	url = git@github.com:Fuco1/org-radiobutton.git
[submodule "projects/fontify-face"]
	path = projects/fontify-face
	url = git@github.com:Fuco1/fontify-face.git
[submodule "projects/Elsa"]
	path = projects/Elsa
	url = git@my.github.com:Fuco1/Elsa.git
[submodule "projects/blablabla"]
	path = projects/blablabla
	url = git@my.github.com:Fuco1/blablabla.git
[submodule "projects/json-log-mode"]
	path = projects/json-log-mode
	url = git@my.github.com:Fuco1/json-log-mode.git
[submodule "projects/justify-kp"]
	path = projects/justify-kp
	url = git@my.github.com:Fuco1/justify-kp.git
[submodule "vendor/org-toggl"]
	path = vendor/org-toggl
	url = git@my.github.com:Fuco1/org-toggl.git
