*.elc
*.html
.cache/*
.cask/*
.projectile
dev/*
elfeed/*
elnode/*
elpa/*
etc/eshell/lastdir
files/personal.el
*-tangled.el
todo.org
straight/build-cache.el
straight/build/
straight/modified/
straight/repos/
request/
