%backup%~
*.elc
.achievements
.cask/*
.emacs-places
.emacs.keyfreq
.hg/*
.hgignore
.ido.last
.ispell
.litable-lists.el
.mc-lists.el
.org-id-locations
.projectile
.recentf
.smex-items
auto-save-list/*
backups/*
bookmarks/*
dev/*
di/*
elfeed/*
elnode/*
elpa/*
eshell/history
eshell/lastdir
files/personal.el
org-clock-save.el
projectile-bookmarks.eld
projectile.cache
projects/*
server/*
tmp/*
todo.org
tramp
url/*
vendor/*
