%backup%~
*.elc
*.html
.achievements
.cache/*
.cask/*
.hgignore
.ido.last
.ispell
.projectile
/srecode-map.el
ac-comphist.dat
bookmarks/*
dev/*
di/*
elfeed/*
elnode/*
elpa-archive/*
elpa/*
eshell/history
eshell/lastdir
files/personal.el
image-dired/
projectile-bookmarks.eld
projectile.cache
projects/*
semanticdb/*
server/*
tmp/*
todo.org
tramp
url/*
vendor/*