# -*- coding: utf-8; mode: snippet -*-
# name: td
# key: td
# contributor: Matus Goljer <matus.goljer@gmail.com>
# --
\Tracy\Debugger::log('Debug (' . __FILE__ . ':' . __LINE__ . '):`(car kill-ring)`: ' . `(car kill-ring)`);