# -*- coding: utf-8; mode: snippet -*-
# name: vk.snippet
# key: vk
# contributor: Matus Goljer <matus.goljer@gmail.com>
# --
echo 'Debug ('.__FILE__.':'.__LINE__.'):`(car kill-ring)`'.PHP_EOL.var_export(`(car kill-ring)`, true).PHP_EOL;