# -*- coding: utf-8; mode: snippet -*-
# name: vk.snippet
# key: vk
# contributor: Matus Goljer <matus.goljer@gmail.com>
# --
echo 'Debug ('.__FILE__.':'.__LINE__.'):`(replace-regexp-in-string "'" "\\\\'" (car kill-ring))`<pre>'.PHP_EOL.var_export(`(car kill-ring)`, true).'</pre>'.PHP_EOL;